<ion-header>

    <ion-toolbar>
        <ion-title>{{mDatas.menuTitle}}</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content no-bounce padding>
    <div>
        <div class="tab-container a3-container">
            <div class="n-tab-item a3-container-center" (click)="onClickIndividual()" [class.n-tab-item-selected]="currentTab==1">Individual</div>
            <div class="n-tab-item a3-container-center" (click)="onClickGroup()" [class.n-tab-item-selected]="currentTab==2">Group</div>
        </div>
    </div>

    <div class="goals-container a3-flex-1">
        <div class="goal-briefly" [class.hidden]="(goal.membersArray.length>1&&currentTab==1) || (goal.membersArray.length==1&&currentTab==2)"
            *ngFor="let goal of goals">
            <div class="a1-fill-parent a3-container" style="margin: 10px">
                <div class="goal-info">
                    <div class="goal-name">{{goal.name}}</div>
                    <div class="goal-more-info">due: {{goal.endDate}}</div>
                    <div class="goal-more-info">{{goal.totalSaved}} was saved</div>
                </div>
                <div *ngIf="goal.membersArray.length >1" class="goal-icon a3-container-center a1-relative">
                    <ion-icon name="ios-person"></ion-icon>
                    <div class="goal-total-member a1-absolute a1-fill-parent a3-container-center">
                        <span class="value">{{goal.membersArray.length}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</ion-content>

<div class="add-button" (click)="onClickAddGoal()">
    <ion-icon name="md-add"></ion-icon>
</div>