page-cost-split {

    .title{
        padding-left: 30px !important;
        .toolbar-title{
            color: #8B8B8B !important;
            font-size: 2.6rem !important;
            text-align: left !important;
        }
    }
}
