<ion-header>

    <ion-toolbar>
        <!-- <ion-buttons start left>
            <button ion-button navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
        </ion-buttons> -->
        <ion-title>{{mDatas.menuTitle}}</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let expense of expenses">
            <ion-item (click)="onClickExpenseDetail()">
                <p>{{expense.name}}
                </p>
                <small>{{expense.createdDate | date: 'dd/mm/yyyy'}}</small>
                <ion-badge item-end *ngIf="expense.total==0">All Paid</ion-badge>
                <ion-badge item-end color="danger" *ngIf="expense.total!=0">Pending</ion-badge>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger" (click)="share(item)">Delete</button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="share(item)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab (click)="onClickAddExpense()">Add</button>
    </ion-fab>
</ion-content>